@import "../App";

.Education_container {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: relative;
}

.Education {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Education_title {
  background: $gra;
  border-radius: 50vh 0 0 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
    font-size: 6rem;
    letter-spacing: 5px;
    font-weight: 600;
  }
}

.Education_explain_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .list {
    display: flex;
    flex-direction: column;
    width: 50%;
    &:nth-child(2) {
      margin-top: 60px;
    }

    .day {
      font-size: 1.2rem;
      letter-spacing: 2px;
      color: $deep-grey;
    }

    h2 {
      font-size: 2rem;
      letter-spacing: 2px;
      line-height: 3rem;
    }

    .sub-title {
      font-size: 1.6rem;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    .text {
      font-size: 1.6rem;
      letter-spacing: 2px;
      line-height: 3rem;
    }
  }
}
