@import "../App";

.Introduce_container {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: relative;
}

#white-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: none;
  background-color: $white;
}

#Introduce {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Introduce_img {
  position: relative;
  width: 460px;
  height: 460px;
  border-radius: 250px;
  background-image: url(../Images/suyeon.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid $white;
  cursor: pointer;

  span {
    width: 250px;
    height: 60px;
    background-color: $pink;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    letter-spacing: 2px;
    transform: rotate(-10deg);
  }
}

.Introduce_click {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: blinkArrow 1.5s infinite;

  span {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: $purple;
    opacity: 1;
  }

  img {
    width: 40px;
    filter: $f-purple;
  }

  .change-arrow {
    transform: rotate(180deg);
  }
}

#Introduce_explain {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;

  .resume {
    width: 150px;
    height: 40px;
    font-size: 1.6rem;
    border: 2px solid $black;
    border-radius: 3px;
    background-color: inherit;
    margin-bottom: 40px;
    cursor: pointer;

    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 3.6rem;
    }

    &:hover {
      border: 2px solid $purple;
    }

    &:hover a {
      color: $purple;
    }
  }

  .explain {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 40px;

    span {
      font-weight: 600;
      color: $pink;
    }
  }

  .contant {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);

    div {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      margin-right: 30px;

      &:nth-child(1) {
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        margin-bottom: 20px;
      }

      span {
        font-family: sans-serif;
        &:nth-child(2) {
          color: $deep-grey;
        }
      }

      a {
        font-family: sans-serif;
        color: $deep-grey;

        &:hover {
          color: $purple;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes blinkArrow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
