@import "../App";

.Main_container {
  position: relative;
  width: 100vw;
  height: 100%;
}

.Main_background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../Images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  .title {
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 0.7rem;
    line-height: 11rem;
  }

  .sub_title {
    font-size: 3rem;
  }
}

.scroll {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  img {
    bottom: 30px;
    width: 40px;
    transform: rotate(180deg);
    filter: $f-white;
  }
}
