@import "../App";

.Main_container {
  position: relative;
  width: 100vw;
  height: 100%;
}

.Main_background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../Images/background.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  .title {
    width: 29ch;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3rem;
    border-right: 3px solid;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  }
}

.scroll {
  position: absolute;
  bottom: 35px;
  width: 30px;
  height: 50px;
  border: 2px solid $white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    position: relative;
    top: -10px;
    width: 3px;
    height: 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.516);
    animation: scroll 2s infinite;
  }
}

@keyframes scroll {
  from {
    top: -10px;
    opacity: 1;
  }
  to {
    top: -4px;
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
