@import "../App";

.TwoProject_container {
  width: 100vw;
  height: 100vh;
}

.desktop {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;

  .img {
    width: 60vw;
    height: 60vh;
    background-image: url(../Images/macbook-1.png);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 110;

    img {
      position: relative;
      z-index: 100;
      top: 17px;
      width: 77%;
      height: 90%;
    }
  }
}

.TwoProject {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 65% 35%;

  .TwoProject_img {
    width: 100%;
    height: 100%;
    background-image: url(../Images/background.jpg);
    background-position: top;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 40%;

    .texts {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 60px 60px 0 0;

      .title {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
          font-size: 7rem;
          line-height: 7rem;
          letter-spacing: 3px;
        }

        h2 {
          margin-top: 20px;
          font-size: 4rem;
          line-height: 4rem;
        }
      }

      .sub_text {
        position: absolute;
        bottom: 70px;
        right: 110px;
        width: 100%;
        color: $white;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-end;

        .comma_left {
          position: relative;
          font-size: 4rem;
          top: -20px;
          left: -20px;
        }

        .comma_right {
          position: relative;
          font-size: 4rem;
          top: -20px;
          left: 20px;
        }

        .text {
          text-align: center;
          line-height: 2.4rem;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

    .link {
      width: 100%;
      height: 100%;
      background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
